importFrom(leaps, regsubsets)
importFrom(stats, mad, model.matrix, terms, setNames, qbeta, optim, pf, xtabs, as.formula, summary.lm, pbeta, approx, poly, na.omit, complete.cases, predict, predict.lm, t.test, formula, ave, aggregate, median, sd, qnorm, rnorm, dnorm, pnorm, lm, runif, optimize, cor, quantile, coef)
importFrom(grDevices, rainbow, dev.off)
importFrom(utils, menu, head, tail)
importFrom(ggplot2, .data, scale_shape_manual, scale_x_continuous, annotate, margin, element_rect, unit, geom_tile, ggsave, geom_contour_filled, facet_wrap, geom_contour, scale_fill_gradientn, geom_abline, element_text, element_blank, element_line, scale_color_viridis_d, scale_color_brewer, ylim, geom_text, scale_y_log10, geom_vline, theme, geom_point, guides, guide_legend, aes, geom_hline, geom_line, geom_smooth, ggplot, labs, scale_color_manual, scale_y_continuous, theme_minimal)
export(
	bestModel,
	betaCoefficients,
	buildCnormObject,
	checkConsistency,
	cNORM.GUI,
	cnorm.cv,
	cnorm,
	cnorm.betabinomial,
	cnorm.shash,
	compare,
	computePowers,
	diagnostics.betabinomial,
	diagnostics.shash,
	derivationTable,
	derive,
	getNormCurve,
	getGroups,
	normTable,
	normTable.betabinomial,
	normTable.shash,
	plotDensity,
	plotDerivative,
	plotNormCurves,
	plotPercentiles,
	plotPercentileSeries,
	plotSubset,
	plotRaw,
	plotNorm,
	plotCnorm,
	plot.cnormBetaBinomial,
	plot.cnormShash,
	predictNorm,
	predict.cnormBetaBinomial,
	predict.cnormShash,
	predictRaw,
	prepareData,
	printSubset,
	rangeCheck,
	rankByGroup,
	rankBySlidingWindow,
	rawTable,
	regressionFunction,
	simulateRasch,
	standardize,
	modelSummary,
	summary.cnormBetaBinomial,
	summary.cnormShash,
	getNormScoreSE,
	weighted.rank,
	weighted.quantile,
	weighted.quantile.inflation,
	weighted.quantile.harrell.davis,
	weighted.quantile.type7,
	computeWeights,
	taylorSwift,
	dshash, rshash, qshash, pshash
)



S3method(plot, cnorm)
S3method(print, cnorm)
S3method(summary, cnorm)

S3method(predict, cnormBetaBinomial)
S3method(plot, cnormBetaBinomial)
S3method(summary, cnormBetaBinomial)

S3method(predict, cnormBetaBinomial2)
S3method(plot, cnormBetaBinomial2)
S3method(summary, cnormBetaBinomial2)

S3method(predict, cnormShash)
S3method(plot, cnormShash)
S3method(summary, cnormShash)
