import(lattice)
importFrom(leaps, regsubsets)
importFrom(stats, formula, ave, aggregate)
importFrom("grDevices", "rainbow")
importFrom(latticeExtra, panel.2dsmoother)
export(
	prepareData,
	plotValues,
	plotNormCurves,
	plotPercentiles,
	plotSubset,
	getNormCurve,
	predictRaw,
	normTable,
	rawTable,
	predictNormValue,
	rankByGroup,
	computePowers,
	bestModel,
	regressionFunction,
	derive,
	checkConsistency,
	derivationTable,
	plotDerivative,
	rangeCheck
)
